# Compile artifacts
/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl

# Generated deployable files
/resources/public/js
/resources/public/css/app.css

# vim swapfiles
*.sw[a-p]

# other artifacts
/.sass-cache
/figwheel_server.log
